[submodule "cryda-mobile/cryda"]
	path = cryda-mobile/cryda
	url = git@github.com:andamagodwin/cryda-app.git
[submodule "cryda-landing"]
	path = cryda-landing
	url = git@github.com:andamagodwin/cryda-landing-page.git
[submodule "expo-starter"]
	path = expo-starter
	url = https://github.com/andamagodwin/cryda3
